.slider{
    position: relative;
    width: 80%;
    height: 150px;
    top:0px;
    margin-left: 110px;
    color:white;
    font-size: 20pt;
    padding: 80px 30px 0px 30px;
    background-color: rgb(from 0,0,0,0.5);
}
.banner{
    font-size: 26px;
    padding: 20px 80px;
}
.ml-50{
    margin-left: 20px;
}
